   <div class="parallax-container">
    <div  id="food" class="section scrollspy overlay" style="padding:5%;">
      <div class="container">
        <div class="row">
          <div class="wow fadeIn" data-wow-duration="3s">
                  <h3>{{ page.food-title }}</h3>
                    <p>{{ page.food-copy }}</p>
                    <!-- Menu items -->
                    {% for foods in site.foods %}
                    <div class="col s12">
                        {% if foods.image %}
                      <div class="col s12 m4">
                        <img src="{{ foods.image }}" alt="{{ foods.dish }}" style="width:100%; margin-right:4%; margin-top:4%; margin-bottom:2%; border-radius:10px;">
                      </div>
                      <div class="col s12 m8" style="padding:2%;">
                        <h4>{{ foods.dish }}</h4>
                        {% if foods.ingredients %}
                          {% for ingredient in foods.ingredients %}
                          <div class="chip" style="background:#444; color:white; font-family:Iron-Brine;">{{ ingredient }}</div>
                          {% endfor  %}
                        {% endif %}
                        <p>{{ foods.content }}</p>
                      </div>

                      {% else %}

                      <div class="col s12" style="padding:2%;">
                        <h4>{{ foods.dish }}</h4>
                        {% if foods.ingredients %}
                          {% for ingredient in foods.ingredients %}
                          <div class="chip" style="background:#444; color:white; font-family:Iron-Brine;">{{ ingredient }}</div>
                          {% endfor  %}

                        {% endif %}
                        <p>{{ foods.content }}</p>
                      </div>
                      {% endif %}
                    </div>
                    {% endfor %}
            </div>
        </div>
    </div>
  </div>
  <div class="parallax"><img src="assets/images/wood.jpg"></div>
</div>
