   <div class="parallax-container">
    <div  id="food" class="section scrollspy overlay" style="padding:5%;">
      <div class="container">
        <div class="row">
          <div class="wow fadeIn" data-wow-duration="3s">
            <div class="col s12">
                <div class="col s12 m6">
<!-- Food Section Text -->
                    <h3>Menu</h3>
                    <p>All our dishes are served with coconut rice and a pickled slaw.</p>
                    <h5>Adobo Pulled Pork</h5>
                    <p>A modern take on the traditional, rich flavoured, childhood favourite: Adobo. Slow cooked pork shoulder with garlic, soy sauce, bay leaves and vinegar.</p>
                    <h5>Paksiw Pulled Jackfruit (Vegan)</h5>
                    <p>Paksiw is traditionally made with left over pork and stir fried with garlic, bay leaf, vinegar and soy sauce. We swapped the pork for young jackfruit which has a similar texture and appearance to pulled pork so Veggies and Vegans can have a real taste of the Pork Shack too!</p>
                    <h5>Rendang Pulled Pork</h5>
                    <p>Rendang is an Indonesion, coconut-based curry, usually served with beef and heavy on the lemongrass. We’ve given it a couple of twists to make it work with our pulled pork and it’s something you have to try if you’ve never experienced a Rendang before. Slightly spicy.</p>                    
                  </div>
                <div class="col s12 m6 valign-wrapper">
                  <img src="assets/images/dish.png" style="width:100%;">
                </div>
              </div>
            </div>
        </div>
    </div>
  </div>
  <div class="parallax"><img src="assets/images/wood.jpg"></div>
</div>