   <footer class="page-footer grey darken-4">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h3 class="white-text">Come find us!</h3>
<!-- Location Copy -->
                <p>Based in Lincoln, our food truck will be travelling around the country.
<!-- Telephone NUmber -->                  
                  <br>Phone: 07897 201936
<!-- Email Address -->
                  <br>Email: theporkshackuk@gmail.com</p>

<!-- Online Social -->
                <a href="https://www.facebook.com/theporkshackUK/?ref=bookmarks" style="color:white;" target="_blank"><i class="fa fa-facebook"></i></a>
                <a href="https://www.instagram.com/theporkshack/" style="color:white;" target="_blank"><i class="fa fa-instagram"></i></a>
                <br>
              </div>
              <div class="col l4 offset-l2 s12 section scrollspy" id="contact">
            <div class="wow fadeIn" data-wow-duration="5s">
<!-- Contact Us Text & Form -->
              <h3>Contact us now!</h3>
              <div class="row left-align">
                <form action="https://docs.google.com/forms/d/e/1FAIpQLSdR0lUxQgHcBj5Gzc-jRWFlbPG9h_dtAZ0S-qriu-KnN1Rxvg/formResponse" id="formid">
                  <div>
                    <div class="input-field">
                    <input type="text" class="validate white-text" name="entry.547073521">
                    <label for="name">Name</label>
                  </div>

                    <div class="input-field">
                    <input type="email" class="validate white-text" name="entry.1507924345">
                    <label for="email">Email</label>
                  </div>

                    <div class="input-field">
                    <input type="text" class="validate white-text" name="entry.1258949198">
                    <label for="first_name">Subject</label>
                  </div>

                    <div class="input-field">
                    <label for="first_name">Write your Message</label>
                    <textarea class="materialize-textarea white-text" name="entry.2026612668">
                    </textarea>
                  </div>
                  <!-- end of form-group -->

                  <input type="submit" value="submit" class="btn btn-primary white black-text">
                </form>
              </div>
            </div>

              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
          <div class="copyright wow zoomIn" data-wow-duration="3s">
            <p>Original template by <a href="http://bootstrapthemes.co">Bootstrap Themes</a>. Modified with <i class="fa fa-heart"></i> by Ant Villa Dean 2018.</p>
          </div>
            </div>
          </div>
        </footer>