    <div class="navbar-fixed">
      <nav class="nav-wrapper grey darken-4">
        <div class="container">
        <a href="#!" class="brand-logo"></a>
        <a href="#" data-target="mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>        
        <ul class="right hide-on-med-and-down white-text" style="font-family: Iron-Brine;">
          <li><a href="#home">Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#food">Food</a></li>
          <li><a href="#hire">Book Us</a></li>
          <li><a href="#instagram">Follow Us</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </div>
    </nav>
  </div>
  <ul class="sidenav grey darken-4" id="mobile" style="font-family: Iron-Brine;">
          <li><a href="#home" style="color:white;">Home</a></li>
          <li><a href="#about" style="color:white;">About</a></li>
          <li><a href="#food" style="color:white;">Food</a></li>
          <li><a href="#hire" style="color:white;">Book Us</a></li>
          <li><a href="#instagram" style="color:white;">Follow Us</a></li>
          <li><a href="#contact" style="color:white;">Contact</a></li>
  </ul>