   <!-- Hero message-->
   <div class="parallax-container " style="height:700px;">
    <div  id="home" class="section scrollspy overlay" style="padding:5%;">
      <div class="row center wow zoomIn" data-wow-duration="1s">
          <img src="{{ page.hero-logo }}" class="responsive-img" style="width:25%">
      </div>
        <div class="container center-align">
        <p>{{ page.hero-copy }}</p>
        </div>
      </div>
    <div class="parallax"><img src="{{ page.hero-background }}"></div>
  </div>
