<div class="grey darken-4 white-text" style="padding-top: 50px; padding-bottom: 50px;">
  <div class="container">
  <div class="row">
    <div class="col s12">
      <div id="hire" class="section scrollspy text-center">
        <div id="hire" class="col s12">
          <div class="wow zoomIn" data-wow-duration="1s">
    <!-- First Section Title -->
            <h1>Book us for your next event</h1>
    <!-- First Section Copy -->
            <p>We’re open to catering your event including weddings, birthdays or any party that you think our delicious menu would be appropriate for. We will aim to work to your requirements, just fill out the form below and we’ll contact you as soon as we can. </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
