<div class="grey darken-4 white-text" style="padding-top: 50px; padding-bottom: 50px;">
  <div class="container">
  <div class="row">
    <div class="col s12">
      <div id="hire" class="section scrollspy text-center">
        <div id="hire" class="col s12">
          <div class="wow zoomIn" data-wow-duration="1s">
    <!-- First Section Title -->
            <h1>{{ page.hire-title }}</h1>
    <!-- First Section Copy -->
            <p>{{ page.hire-copy }}</p>
            {% if page.mailing-list %}
            <p>{{ page.mailing-list }}</p>
            <form class="col s12" action="https://docs.google.com/forms/d/e/1FAIpQLSdR0lUxQgHcBj5Gzc-jRWFlbPG9h_dtAZ0S-qriu-KnN1Rxvg/formResponse" id="formid">
              <div class="row">
                <div class="input-field col s12">
                  <input id="email" type="email" class="validate" name="entry.1507924345">
                  <label for="email">Email</label>
                  <button class="btn right" style="background:#333;color:white;" type="submit" value="submit">Subscribe</button>
                </div>
              </div>
            </form>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
